@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:15px;
    background:rgb(139, 139 , 131);
}

textarea {
    width: 494px;
    height: 62px;
}
.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header{
    font-size: 1.5rem;
    color:#333;
    font-weight: 500;
    text-align: center;
}
.container .form{
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;
}
.input-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Tạo khoảng cách giữa các input box */
}

.input-box label {
    color: #333;
    flex-basis: 150px; /* Đặt kích thước cố định cho nhãn */
    margin-right: 10px;
}

.input-box input {
    flex: 1; /* Cho phép input mở rộng để lấp đầy không gian còn lại */
}
.input-box label{
    color: #333;
}
.form .input-box input{
    position: relative;
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707077;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.form .gender-box{
    margin-top: 20px;
}
.gender-box h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.gender-box{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.form :where(.gender-option, .gender){
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.form .gender{
    column-gap: 5px;
}
.form :where(.gender input, .gender label){
    cursor:pointer ;
}
.form button[type=submit]{
    height: 33px;
    width: 100px;
    color:#fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 300;
    background-color: blue;
}
.form button[type=reset]{
    height: 33px;
    width: 100px;
    color:#fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 300;
    background-color: green;
}
/* Responsive */
@media screen and (max-width:500px){
    .form columns{
        flex-wrap: wrap;
    }
}
